.pixie-window {
  position: fixed;
  top: 100px;
  right: 50px;
  width: 200px;
  height: 250px;
  background: transparent;
  user-select: none;
  -webkit-user-select: none;
  cursor: grab;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.pixie-window:active {
  cursor: grabbing;
}
